
/*  css for nav and logo section  */
.header {
	background-color: black;
	opacity: .8;
	padding: 20px;
}

.content {
    margin-top: 10px;
}

.logo {
	text-align: center;
}

.logo img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.nav {
	max-width: 900px;
	text-align: center;
	max-height: 100px;
	margin: auto;
}

.nav li {
	display: inline-block;
}

.nav a {
	color: red;
    font-size: 20px;
    padding: 20px;
}

.nav a:hover {
	text-decoration: none;
	color: #fff;
	border-bottom: 4px solid red;
}

/*----------------------------------------------*/

/*  css for banner and motto section  */

.banner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	box-shadow: 0 10px 10px #D1D1D1;
}

.lg_image {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	min-width: 600px;
	min-height: 550px;
	background: url(../img/background/bg2.jpg) no-repeat center center;
	background-size: auto;
	text-align: center;
	padding: 80px;
}

.lg_image h1{
    color: #fff;
    font-size: 8rem;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    margin: auto;
    margin-top: 15%;
    max-width: 900px;
    text-shadow: 1px 15px 2px grey;

}

.motto { 
    text-align: center;
    margin-left: 15px; 
    margin-top: -20px; 
}

.motto h2 {
    font-size: 25px;
    padding: 50px; 
}

.top {
	margin: auto;
	/*margin-left: 20px;*/
	border-bottom: 2px solid red;
}

.top h2 {
	color: grey;
}

.bottom {
	margin: auto;
}

.bottom h2 {
	text-decoration: none;
	color: red;
}

.bottom h2:hover {
	color: #fff;
	background-color: grey;
	opacity: .8;
	border-radius: 60px;
	transition: 2s;
}

.bottom a:hover {
	text-decoration: none;
}

/* --------------------------------------------------*/


/*   Css for link navigation section   */

.navigation { 
   padding: 50px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   box-shadow: 0 10px 10px #D1D1D1;
}

.link {
	text-align: center;
	border: 5px solid #fff;
	margin: 60px 0;
}

.link h1 {
	background-color: #696969;
	border-radius: 10px;
	opacity: 0.8;
	font-size: 50px;
	color: #fff; 
	max-width: 200px;
	margin: auto;
	margin-top: 50%;
}

.link h1:hover {
	color: red;
	background-color: #fff;
}

.link a:hover {
	text-decoration: none;
}

#shop {
	background: url(../img/team/shop1.jpg);
	background-size: cover;
	width: 300px;
	height: 350px;
}

#photo {
	background: url(../img/team/fred6.jpg);
	background-size: cover;
	width: 300px;
	height: 350px;
}

#video {
	background: url(../img/team/video1.jpg);
	background-size: cover;
	width: 300px;
	height: 350px;
}

#gym {
	background: url(../img/team/gym1.jpg);
	background-size: cover;
	width: 300px;
	height: 350px;
}

#calender {
	background: url(../img/team/photo2.jpg);
	background-size: cover;
	width: 300px;
	height: 350px;
}


/*----------------------------------------------*/

/* css for personal training section  */

.personal {
	margin-top: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 15px 5px #D1D1D1;
}

.pt {
	text-align: center;
	color: red;
}

.content2 {
	padding: 50px;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item1 {
	padding: 60px;
	border-right: 1px dotted grey;
}

.item1 h2 {
	color: red;
	text-transform: uppercase;
}

.item1 img {
	width: 100px;
	height: 100px;
	opacity: .5;
}

.item1 p {
	color: grey;
}

#btn h1 {
	border: 1px solid grey;
	border-radius: 20px;
	background-color: grey;
	margin: auto;
	width: 200px;
	padding: 10px;
}

#btn h1:hover {
	background-color: #fff;
}

#btn a {
	color: white;
}

#btn a:hover {
	color: red;
	text-decoration: none;
}
/*------------------------------------------------*/

/* css for motivation section */

.heading {
	color: red;
	text-align: center;
	padding: 60px;
}

.hero {
	max-width: 1300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 15px 5px #D1D1D1;

}

.item {
	border: 2px solid red;
	width: 280px;
	height: 220px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.item h3 {
    color: #fff;
    font-size: 40px;
    opacity: .8;
    font-weight: 600;
    margin-top: 100px;
}

.item h3:hover {
	color: red;
	transition: 1s;
}

.item a:hover {
	text-decoration: none;
}

#faith {
	background: url(../img/motto/faith.jpg) no-repeat center center;
	background-size: cover;
}

#ded {
	background: url(../img/motto/dedication.jpg) no-repeat center center;
	background-size: cover;
}

#wp {
	background: url(../img/motto/willpower.jpg) no-repeat center center;
	background-size: cover;
}

#passn {
	background: url(../img/motto/passion.jpg) no-repeat center center;
	background-size: cover;
}

#luv {
	background: url(../img/motto/love.jpg) no-repeat center center;
	background-size: cover;
}

#str {
	background: url(../img/motto/strength.jpg) no-repeat center center;
	background-size: cover;
}

#det {
	background: url(../img/motto/determination.jpg) no-repeat center center;
	background-size: cover;
}


/* -------------pop up window  ---------*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }
  .overlay:target {
    visibility: visible;
    opacity: 1; }

.popup {
  margin: 70px auto;
  padding: 20px;
  background-color: #696969;
  /* new background design */
  border-radius: 10px;
  width: 500px;
  position: relative;
  transition: all 2s ease-in-out; }
  .popup h2 {
    margin-top: 0;
    color: red;
    font-weight: 900; }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 10px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    background-color: red;
    border-radius: 50px;
    opacity: 2;
   }
    .popup .close:hover {
      color: red; }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    background-color: inherit;
    font-size: 20px; }
    .popup .content p {
      color: #fff; }

@media screen and (max-width: 700px) {
  .box {
    width: 80%; }

  .popup {
    width: 80%; } }

/*---------------------------------------------------*/

/*    Footer Section   */
.footer {
	background-color: black;
	opacity: 0.8;
	text-align: center;
	color: #fff;
}

.footer img{
    width: 50px;
    height: 50px;
}

.footer li {
	display: inline-block;
	padding: 20px;
}

.footer a {
	text-decoration: none;
	color: red;
}

.footer a:hover {
    text-decoration: none;
    color: #fff;
}

.col-md-3 {
	padding: 20px;
	margin-top: 10px;
}

.col-md-3 h2 {
	font-size: 25px;
}

/*---------------------------------------------------*/

@media only screen and (max-width: 1700px) {
  .lg_image {
    width: 100%; } 

 }
 